*{
    padding: 0;
    margin: 0;
}

.footer-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40vh;
    align-items: center;
    gap: 20px;
}

.facebook{
    font-size: clamp(1.5625rem, 0.7813rem + 2.5vw, 2.1875rem);
 
}
.facebook:hover{
    transform: translateY(-5px);
    transition: 1s;
}
.instagram{
    font-size: clamp(1.5625rem, 0.7813rem + 2.5vw, 2.1875rem);
 
}
.instagram:hover{
    transform: translateY(-5px);
    transition: 1s;
}
.tiktok{
    font-size: clamp(1.5625rem, 0.7813rem + 2.5vw, 2.1875rem);
}

.tiktok:hover{
    transform: translateY(-5px);
    transition: 1s;
}

.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(-110px);
    text-align: center;
}

.logo-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    transform: translateY(-90px);
}

.logo-content img{
    width: 100%;
    max-width: 70px;
}